@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
:root {
    --very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);
    --very-dark-grayish-blue: hsl(237, 12%, 33%);
    --dark-grayish-blue: hsl(240, 6%, 50%);
    --light-grayish-blue: hsl(240, 5%, 91%);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    padding-top: 50px;
    font-family: 'Kumbh Sans', sans-serif, Arial;
    font-size: 15px;
    font-weight: 400;
    background: linear-gradient(var(--soft-violet), var(--soft-blue));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mobile {
    display: none;
}

/* Main card */
main {
    position: relative;
    width: clamp(885px, 80%, 1200px);
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 10px 60px var(--very-dark-desaturated-blue);
    display: flex;
    flex-direction: row;
    border-radius: 25px;
}
div {
    width: 50%;
}
.image {
    overflow: hidden;
    min-height: 500px;
    background-image: url("images/bg-pattern-desktop.svg");
    background-position: top -280px left -575px;
    background-repeat: no-repeat;
}
.illustration_box {
    position: absolute;
    left: -100px;
    top: 205px;
    z-index: 9;
}
.illustration_woman {
    position: relative;
    left: -85px;
    top: 70px;
}
.content {
    border-radius: 0 25px 25px 0;
    padding: 0 80px 30px 0;
    color: var(--very-dark-grayish-blue);
}
h1 {
    margin: 70px 0 45px;
    color: var(--very-dark-desaturated-blue);
    font-weight: 700;
}
details {
    border-bottom: 1px solid var(--light-grayish-blue);
    padding: 15px 0;
    transition: all 0.1s;
}
details::before {
    content: url(images/icon-arrow-down.svg);
    float: right;
}
.question {
    list-style: none;
    color: var(--very-dark-desaturated-blue);
}
.answer {
    padding-top: 10px;
    color: var(--dark-grayish-blue);
    font-weight: 400;
}
/* Footer */
.attribution { 
    text-align: center; 
    margin: 40px;
}
.attribution a {
    color: hsl(228, 65%, 41%);
}
.attribution a:hover {
    color: hsl(228, 90%, 53%);
}

/*Active state*/
.question:hover {
    color: var(--soft-red);
    cursor: pointer;
}
details[open] {
    font-weight: 700;
}
details[open]::before {
    content: url(images/icon-arrow-down.svg);
    float: right;
    transform: rotate(180deg);
}

/* Media query */
@media screen and (max-width: 1000px) {
    .mobile {
        display: block;
    }
    .desktop {
        display: none;
    }
    body {
        padding-top: 120px; /* Increase padding so the image doesn't grow out of the viewport*/
    }
    main {
        flex-direction: column;
        width: clamp(360px, 85%, 450px);
    }
    div {
        width: 100%;
    }
    .image {
        overflow: unset;
        background-image: url("images/bg-pattern-mobile.svg");
        background-position: top 10px center;
        height: 120px;
        min-height: unset;
    }
    .illustration_woman {
        position: relative;
        top: 0;
        left: 50%;
        transform: translate(-50%, -55%);
        width: 240px; /*equal to the background image size*/
    }
    .content {
        padding: 15px 20px 30px 20px;
    }
    h1 {
        margin: 0;
        text-align: center;
    }
}